<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF--8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header class="header">
        <img class="header__img" src="./assets/logo-platzi-video-BW2.png" alt="logo--platzi--video--BW2">
    </header>
    <section class="login">
        <section class="login__container"  >
            <h2>Register</h2>
            <form class="login__container--form" action="">
                <input class="input" type="text" placeholder="Full Name">
                <input class="input" type="password" placeholder="E--mail">
                <input class="input" type="text" placeholder="Password">
                <button class="button">Register </button>
            </form>

            <p class="login__container--register">  <a href="/login.html">Login</a></p>
        </section>
    </section>
    <footer class="footer">
        <a href="/">Terms & Conditions</a>
        <a href="/">Privacy Statement</a>
        <a href="/">Any help?</a>
    </footer>
</body>
</htm>